:root{
    --bg:#1c1c1c;
--text-height:300px;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: system-ui,sans-serif;
    background-color: #1c1c1d;
}
.sparkle{
    width: 600px;
    text-shadow:0px 0px 10px black;
    font-size: 50px;
    text-transform: uppercase;
    z-index: 100;
    position: relative;
    letter-spacing: 5px;
    font-weight: 700;
    color: white;
    line-height: var(--text-height);
    height:var(var(--text-height)); 
text-align: center;

}
.star{
    --star-size:50px
;
--start-life:5s;
--start-left:0px
;
--start-top:0px;
--end-left:0px;
--end-top:0px;

--star-color:#f1c40f;
width: var(--star-size);


;
height: var(--star-size);
left: var(--end-left);
top: var(--start-top);
background: var(--star-color);
position: absolute;
mix-blend-mode: lighten;
animation: slide var(--star-life) ease-in forwards;
}

